.cabecalho {
    background-color: #051932;
    color: #fff;
    font-family: OpenSansRegular, sans-serif;
    height: 76px;
}
.cabecalho__container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    width: 96%;
}
.cabecalho__logo {
    color: #fff;
    font-size: 42px;
    letter-spacing: -3px;
    text-decoration: none;
}
.cabecalho__acesso {
    display: flex;
    font-family: OpenSansBold, sans-serif;
    font-size: 13px;
    letter-spacing: .1px;
    text-transform: uppercase;
}
.cabecalho__link {
    margin: 0 10px;
    text-decoration: none;
}
.cabecalho__botao {
    background-color: #a3ffbf;
    border-radius: 20px;
    color: #051932;
    font-family: OpenSansSemiBold, sans-serif;
    padding: 10px 30px;
}
.botao--login {
    background-color: unset;
    border: 1px solid white;
    color: white;
    padding: 9px 20px;
}