.login {
    background-color: white;
    box-sizing: border-box;
    font-family: OpenSansRegular, sans-serif;
    margin-top: 38px;
    max-width: 500px;
    padding: 42px;
    width: 45%;
}
.login__titulo {
    font-family: OpenSansExtraBold, sans-serif;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -.5px;
    text-align: center;
}
.login__subtitulo {
    font-size: 17px;
    letter-spacing: -.3px;
    margin: 8px 0 24px 0;
    text-align: center;
}

.login__label {
    display: block;
    margin-bottom: 3px;
}
.login__input {
    border: 1px solid #eee;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 14px;
    padding: 14px;
    width: 100%;
}
.login__botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login__botao--entrar {
    background-color: #747c81;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    margin-right: 3px;
    margin-top: 16px;
    min-width: 195px;
    padding: 6.4px 0;
    text-transform: uppercase;
}
.login__botao--facebook {
    background-color: #4e6ba7;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    margin-top: 16px;
    min-width: 195px;
    padding: 16px 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.login__botao--google {
    background-color: #51bcff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    margin-top: 5px;
    min-width: 195px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

}
.login__esqueci__senha {
    color: #747c81;
    display: inline-block;
    font-size: 14px;
    margin: 3em 0 1em 0;
    text-align: center;
    width: 100%;
}