@import url(busca.css);
@import url(cabecalho.css);
@import url(cursos.css);
@import url(footer.css);
@import url(info.css);
@import url(login.css);

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "OpenSansExtraBold";
    src: url(../fonts/OpenSans-ExtraBold.ttf);

}
@font-face {
    font-family: "OpenSansRegular";
    src: url(../fonts/OpenSans-Regular.ttf);

}
@font-face {
    font-family: "OpenSansItalic";
    src: url(../fonts/OpenSans-Italic.ttf);

}
@font-face {
    font-family: "OpenSansBold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSansSemiBold";
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
body {
    background-color: #f9fbfd;
    font-family: Lato;
}
main {
    background-color: #FAFBFD;
}
.main__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 96%;
}
.main__divisao {
    align-items: center;
    color: #747c81;
    display: flex;
    justify-content: space-between;
}